In [ ]:
import pandas as pd

# Load the CSV file
melted_1985_population = pd.read_csv('../../data_wrangling/datasets_from_1985_total/1985_population_selected.csv')

# Reshape the DataFrame from wide to long format
melted_1985_population = pd.melt(melted_1985_population, id_vars=["year"], var_name="country", value_name="population")

# Remove the unnecessary 'index' rows
melted_1985_population = melted_1985_population[melted_1985_population['country'] != 'index']

# Now df_filtered has the desired format
display(melted_1985_population.head())

    year country  population
39  1985  Uganda  15023681.0
40  1986  Uganda  15467579.0
41  1987  Uganda  15954170.0
42  1988  Uganda  16470483.0
43  1989  Uganda  17010698.0

In [6]:
melted_1985_population.to_csv('melted_1985_population.csv', index=False)

In [ ]:
# Load the CSV file
melted_1985_fertility = pd.read_csv('../../data_wrangling/datasets_from_1985_total/1985_fertility_rate_selected.csv')

# Reshape the DataFrame from wide to long format
melted_1985_fertility = pd.melt(melted_1985_fertility, id_vars=["year"], var_name="country", value_name="fertility_rate")

# Remove the unnecessary 'index' rows
melted_1985_fertility = melted_1985_fertility[melted_1985_fertility['country'] != 'index']

# Now df_filtered has the desired format
display(melted_1985_fertility.head())

    year country  fertility_rate
39  1985  Uganda           7.035
40  1986  Uganda           7.081
41  1987  Uganda           7.119
42  1988  Uganda           7.105
43  1989  Uganda           7.072

In [9]:
melted_1985_fertility.to_csv('melted_1985_fertility.csv', index=False)

In [ ]:
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string
from dotenv import dotenv_values

In [12]:
config = dotenv_values()

pg_user = config['POSTGRES_USER']  
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [13]:
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'

In [14]:
engine = create_engine(url, echo=False)

In [15]:
my_schema = config['POSTGRES_SCHEMA']
with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {my_schema};'))
result

In [ ]:
melted_1985_fertility.to_sql(
    name='melted_1985_fertility',      # name of the table in the database
    con=engine,             # your SQLAlchemy engine
    schema='capstone_population_analysis',   # optional, if you want to specify the schema
    if_exists='replace',    # or 'append' if you want to add rows
    index=False             # don't write the DataFrame index as a column
)

379

In [17]:
melted_1985_population.to_sql(
    name='melted_1985_population',      # name of the table in the database
    con=engine,             # your SQLAlchemy engine
    schema='capstone_population_analysis',   # optional, if you want to specify the schema
    if_exists='replace',    # or 'append' if you want to add rows
    index=False             # don't write the DataFrame index as a column
)

379